/* styles.css */

/* Styles pour simuler la fenêtre */
.window {
    width: 700px;
    height: 500px;
    background-color: #f7d7d7;
    border: 1px solid #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
}
.title-bar {
    /* background-color: #EF24DB6B; */
    color: rgba(10, 10, 10, 0.897);
    padding: 5px;
    cursor: grab;
    margin: 5px;
    display: flex;
    /* width: 350px; Définit la largeur de la div */
    /* height: 30px; Définit la hauteur de la div */
}
.dossier_suivi {
    background-color: #EF24DB6B;
    color: rgba(10, 10, 10, 0.897);
    padding: 5px;
    cursor: grab;
    font-size: 20px;
    font-weight: bold;
    margin-left: auto;
    width: 230px; /* Définit la largeur de la div */
    height: 30px; /* Définit la hauteur de la div */
}
.dossier_sante {
    background-color: #EF24DB6B;
    color: rgba(10, 10, 10, 0.897);
    padding: 5px;
    cursor: grab;
    margin-top: 100;
    /* margin-left: auto; */
    width: 230px; /* Définit la largeur de la div */
    height: 200px; /* Définit la hauteur de la div */
}

.cste_sante {
    background-color: #EF24DB6B;
    color: rgba(10, 10, 10, 0.897);
    padding: 5px;
    cursor: grab;
    font-size: 20px;
    font-weight: bold;
    margin-right: auto;
    display: flex;
    width: 380px; /* Définit la largeur de la div */
    height: 30px; /* Définit la hauteur de la div */
}
.cte_sante_bkg {
    /* display: flex; */
    background-image: url('../img/cancer-sein_0.jpg'); /* Chemin relatif */
    background-size: cover; /* Ajustez la taille de l'image au div */
    background-position: center; /* Centrez l'image */
    position: relative; /* Nécessaire pour positionner les boutons */
    width: 390px; /* Définissez la largeur souhaitée */
    height: 360px; /* Définissez la hauteur souhaitée */
    
}
.content {
    padding: 10px;
    width: 380px; /* Définit la largeur de la div */
    height: 30px; /* Définit la hauteur de la div */
}
.content_dossier {
    padding: 20px;
    width: 380px; /* Définit la largeur de la div */
    height: 30px; /* Définit la hauteur de la div */
}
.contact {
    background-color: #EF24DB6B;
    color: rgba(10, 10, 10, 0.897);
    margin-top: 150px;
    /* margin-bottom: 50px; */
    margin-right: auto;
    margin-left: -5px;
    padding: 5px;
    width: 230px; /* Définit la largeur de la div */
    height: 30px; /* Définit la hauteur de la div */
}

li {
    margin-top: 10px; /* Augmenter l'espace entre les listes */
}


.button-container {
    

    display: flex;
    justify-content: center; /* Alignement horizontal au centre */
    align-items: center; /* Alignement vertical au centre */
    margin-right: 10px;
    /* Autres styles pour .button-container ici */
}

.button-container button {
    margin-right: 10px; /* Ajoutez l'écart horizontal entre les boutons ici */
    font-size: 15px;
    font-weight: bold;
   
}

.button-container + .button-container {
    margin-top: 50px; /* Ajoutez l'espacement vertical entre les lignes ici */
}

.button-container button {
    background-color: #007bff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    margin-right: 10px; /* Ajoutez l'écart horizontal entre les boutons ici */
    /* Autres styles pour les boutons ici */
}

.button-container img {
    max-width: 100px; /* Limite la largeur des images dans les boutons */
    background-color: transparent;
}


.contact ul {
    margin-top: 30px;
    margin-left: 25px;
}





/* Styles pour les boutons */
.button-container button {
    margin: 15px; /* Espacement entre les boutons */
    background-color: #EF24DB6B;
    color: rgb(10, 10, 10);
}
