body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('../img/cancer-sein_0.jpg'); /* Remplacez 'chemin/vers/votre/image.jpg' par le chemin réel de votre image */
    background-size: cover; /* Pour que l'image de fond couvre toute la zone du corps */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-attachment: fixed; /* Fixe l'image de fond à la position de l'écran */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    color: #333;
}

#Teste_de_Diagnostic {
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
    width: 100%; /* Prend toute la largeur disponible */
    box-sizing: border-box; /* Inclure les bordures dans la largeur totale */
}

/* Style des questions */
.question {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left; /* Aligner le texte à gauche */
    padding-left: 20px; /* Marge à gauche pour l'espace */
}

.options {5
    display: flex;
    flex-direction: column; /* Afficher les choix en colonne */
    align-items: flex-start; /* Aligner les choix à gauche */
    margin-left: 20px; /* Marge à gauche pour les choix */
}

/* Style des cases à cocher (checkboxes) */
input[type="checkbox"] {
    margin-right: 5px; /* Marge à droite pour les checkboxes */
}
